[submodule "third-party/CLI11"]
	path = third-party/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "third-party/csv-parser"]
	path = third-party/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson