[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "third-party/csv-parser"]
	path = third-party/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "third-party/Signals"]
	path = third-party/Signals
	url = https://github.com/pbhogan/Signals.git
