# Template C++ Application

# This template allows you to validate your C++ application.
# The workflow allows running tests and code linting on the default branch.


image: atlassian/default-image:3


pipelines:
  default:
    - parallel:
        - step:
            name: Build libraries
            script:
              - apt update && apt upgrade -y
              - apt update && apt -y satisfy "cmake (>=3.16)"
              - wget  https://boostorg.jfrog.io/artifactory/main/release/1.81.0/source/boost_1_81_0.tar.gz -O ~/boost_181.tar.gz
              - mkdir ~/boost_dir
              - tar -xzvf ~/boost_181.tar.gz -C ~/boost_dir
              - apt-get install -y python3-dev git cmake python3-pip libssl-dev unixodbc-dev gcc g++
              - pip3 install pytest
              - git clone https://github.com/pybind/pybind11 ~/pybind11
              - thisdir=`pwd`
              - cd ~/pybind11
              - mkdir build && cd $_
              - cmake ..
              - make check -j 4
              - make install -j 4
              - export BOOST_ROOT="~/boost_dir/boost_1_81_0/"
              - cd $thisdir
              - git checkout impl
              - git submodule update --init --recursive
              - cmake .
              - make -j 4