name: ci

on:
  push:
    branches: [ impl ]
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [ impl ]
    paths-ignore:
    - '**.md'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Dependencies
      run: |
        sudo apt install libboost-all-dev cmake
        wget  https://boostorg.jfrog.io/artifactory/main/release/1.81.0/source/boost_1_81_0.tar.gz -O ~/boost_181.tar.gz
        mkdir ~/boost_dir
        tar -xzvf ~/boost_181.tar.gz -C ~/boost_dir
        sudo apt-get install -y python3-dev git cmake python3-pip libssl-dev unixodbc-dev gcc g++
        pip3 install pytest
        git clone https://github.com/pybind/pybind11 ~/pybind11
        thisdir=`pwd`
        cd ~/pybind11
        mkdir build && cd $_
        cmake ..
        make check -j 4
        sudo make install -j 4
        export BOOST_ROOT="~/boost_dir/boost_1_81_0/"
        cd $thisdir
        git checkout impl
        git submodule update --init --recursive
    - name: Build
      run: |
        cmake .
        make -j 4
